﻿@model HackathonWithMVC.Models.User

@{
    ViewData["Title"] = "RegisterUser";
}

@{
    if (TempData["RegUserInfo"] != null)
    {

        <div class="alert alert-danger" role="alert">
            @TempData["RegUserInfo"]
        </div>
    }
}
<div class="row text-center">
    <div class="col-md-4 register">
        <h1 class="register-title">Register</h1>
        <form asp-action="RegisterUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <input asp-for="UserName" placeholder="Enter Username" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Password" placeholder="Enter Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Email" placeholder="Enter Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Age" placeholder="Enter Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="City" placeholder="Enter City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" /><br /><br />
                <a class="btn btn-primary" asp-action="LogIn">Back to Log In</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
